@font-face {
	font-family: 'lilita';
	src: url("../fonts/LilitaOne-Regular.ttf");
}

@font-face {
	font-family: 'cond';
	src: url("../fonts/RobotoCondensed-Regular.ttf");
}

::-webkit-scrollbar-track { background-color: #343434 }
::-webkit-scrollbar-thumb:hover{ background-color: #141414 }
::-webkit-scrollbar{ width: 6px }

::-webkit-scrollbar-thumb {
	-webkit-border-radius: 0px;
	background-color: #1d1d1d;
}

* {
	margin: 0;
	padding: 0;
}

body {
	width: 100%;
	background-image: url('../img/background.jpg');
	background-attachment: fixed;
	background-size: cover;
	background-position: center center;
}

header {
	width: 100%;
	height: 1px;
}

header>div#head {
	position: relative;
	width: 75%;
	margin-left: 12.5%;
}

header>div#head>span#title {
	position: absolute;
	margin-top: 2%;
	font-family: 'lilita';
	font-size: 1.5vw;
	color: #FFFF00;
}

header>div#head>a {
	position: absolute;
	margin-top: 2.5%;
	font-family: 'cond';
	font-size: 0.9vw;
	text-decoration: none;
	color: #FFF;
	transition: 0.15s linear;
}

header>div#head>a#a1 { left: 17% }
header>div#head>a#a2 { left: 25% }
header>div#head>a#a3 { left: 31.4% }
header>div#head>a#a4 { left: 39.6% }
header>div#head>a#a5 { left: 48.5% }
header>div#head>a#a6 { left: 56.2% }

header>div#head>a#a7 {
	left: 92.5%;
	color: #FFFF00;
}

header>div#head>a:hover { color: #FFFF00 }
header>div#head>a#a7:hover { color: #FFF }

main>div#box {
	position: relative;
	margin-top: 10%;
	width: 75%;
	margin-left: 12.5%;
	background-color: rgba(0, 0, 0, 0.1);
	text-align: center;
}

main>div#box>img {
	width: 12%;
	margin: 2% 3% 50% -45%;
}

main>div#box>span {
	position: absolute;
	font-family: 'cond';
}

main>div#box>span#s1 {
	font-size: 1vw;
	color: #FFFF00;
	top: 22%;
	left: 20.25%;
}

main>div#box>span#ns1 {
	font-size: 0.8vw;
	color: #CCC;
	top: 24.5%;
	left: 20.25%;
}

main>div#box>span#ns2, main>div#box>span#ns3, main>div#box>span#ns4 {
	font-size: 0.7vw;
	color: #CCC;
	left: 40%;
}

main>div#box>span#ns5 {
	font-size: 0.7vw;
	color: #FF0000;
	left: 40%;
	display: none;
}

main>div#box>span#ns2 { top: 3.5% }
main>div#box>span#ns3 { top: 10% }
main>div#box>span#ns4 { top: 22% }
main>div#box>span#ns5 { top: 22% }

main>div#box .b1 {
	position: absolute;
	font-family: 'cond';
	font-size: 1vw;
	color: #000;
	top: 23%;
	right: 39.5%;
	text-decoration: none;
	background-color: #FFFF00;
	padding: 0.5% 1.875% 0.5% 1.875%;
	transition: 0.15s linear;
	cursor: pointer;
}

main>div#box .b1:hover { background-color: #FFF}

main>div#box>input {
	position: absolute;
	font-family: 'cond';
	font-size: 0.8vw;
	color: #000;
	top: 5.5%;
	left: 40%;
	background-color: #FFF;
	width: 20.75%;
	padding: 0.3% 0 0.3% 0;
	transition: 0.15s linear;
	border: none;
}

main>div#box>span#checkbox {
	position: absolute;
	top: 30.1%;
	left: 41.6%;
	color: #FFF;
	font-size: 0.675vw;
	font-family: 'cond';
	text-align: left;
}

main>div#box> .checkbox {
	position: absolute;
	width: 1%;
	left: 85%;
	top: 26.75%;
	cursor: pointer;
}

main>div#box>input#i3 { top: 12% }

main>div#box>input#i4 {
	top: 24%;
	width: 9%;
}

main>div#box .ts {
	position: absolute;
	width: 70%;
	font-family: 'cond';
	font-size: 1vw;
	color: #FFFF00;
	text-align: left;
	left: 15%;
}

main>div#box>span#ts1 { top: 50% }
main>div#box>span#ts2 { top: 57.5% }
main>div#box>span#ts3 { top: 65% }
main>div#box>span#ts4 { top: 72.5% }
main>div#box>span#ts5 { top: 80% }

main>div#box>span>a {
	color: #8B00FF;
	text-decoration: none;
	transition: 0.2s linear;
}

main>div#box>span>a:hover {
	color: #1B00FF;
}

main>div#box .icons {
	position: absolute;
	width: 1.5%;
}

main>div#box>img#icon1{ 
	top: 46.95%;
	left: 99%;
}

main>div#box>img#icon2{ 
	top: 54.5%;
	left: 105.9%;
}

main>div#box>img#icon3{ 
	top: 61.75%;
	left: 104.2%;
}

main>div#box>img#icon4{ 
	top: 69.5%;
	left: 111.1%;
}

main>div#box>img#icon5{ 
	top: 76.8%;
	left: 79.05%;
}

main>div#box2 {
	position: relative;
	text-align: center;
	margin-top: 10%;
	width: 75%;
	margin-left: 12.5%;
}

main>div#box2>img {
	width: 6%;
	margin: 1% 13.5% 20% 13.5%;
}

main>div#box2>span {
	position: absolute;
	font-family: 'cond';
	font-size: 1vw;
	color: #FFFF00;
}

main>div#box2 .s1 { top: 15.5% }
main>div#box2 .s3 { top: 65.5% }

main>div#box2>span#s3 {
	left: 79.75%;
	top: 15.5%;
}

main>div#box2>span#s4 {
	left: 13.35%;
	top: 65.5%;
}

main>div#box2>span#s1 { left: 11.75% }
main>div#box2>span#s2 { left: 44.3% }
main>div#box2>span#s5 { left: 44.2% }
main>div#box2>span#s6 { left: 77.7% }

main>div#box2> .ss1, main>div#box2> .ss2, main>div#box2> .ss3 {
	position: absolute;
	font-family: 'cond';
	font-size: 1vw;
	color: #FFF;
	width: 25%;
}

main>div#box2 .ss1 { top: 20% }
main>div#box2 .ss3 { top: 70% }

main>div#box2>span#ss3 {
	top: 20%;
	left: 71%;
}

main>div#box2>span#ss4 {
	top: 70%;
	left: 4.6%;
}

main>div#box2>span#ss1 { left: 4% }
main>div#box2>span#ss2 { left: 37.4% }
main>div#box2>span#ss5 { left: 37.4% }
main>div#box2>span#ss6 { left: 70.75% }

main>div#b4 { margin-top: 20% }

footer>div#foot {
	padding: 2%;
	background-color: #1d1d1d;
}

footer>div#foot>span#title {
	font-family: 'lilita';
	font-size: 1.5vw;
	color: #FFFF00;
	margin-left: 11%;
}

footer>div#foot>a {
	position: absolute;
	margin-top: 0.45%;
	font-family: 'cond';
	font-size: 0.9vw;
	text-decoration: none;
	color: #FFF;
	transition: 0.15s linear;
}

footer>div#foot>a:hover { color: #FFFF00 }

footer>div#foot>a#a2 { left: 35% }
footer>div#foot>a#a1 { left: 45% }